<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <%- include _layouts/head %>
</head>
<body>
  <div class="wrapper">
    <%- include _layouts/navbar %>
    <div class="container-fluid">
      <div class="row">
        <%- include _layouts/sidebar_start %>
          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Saved Activities</span>
            <a class="d-flex align-items-center text-muted" href="#">
              <span data-feather="plus-circle"></span>
            </a>
          </h6>
          <ul class="nav flex-column mb-2">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                Current month
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                Last quarter
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                Social engagement
              </a>
            </li>
          </ul>
        <%- include _layouts/sidebar_end %>
        <%- include _layouts/content_start %>
        <% if (typeof results !== 'undefined') { %>
            <%- include _data-entry/search_results %>
        <% } else { %>
            <%- include _data-entry/home %>
        <% } %>
        <%- include _layouts/content_end %>
      </div>
    </div>
    <%- include _layouts/foot %>
  </div>
</body>
</html>