<!DOCTYPE html>
<html>
<head>
    <title><%= type %> (ID: <%= id %>)</title>
    <%- include _layouts/head %>
</head>
<body>
  <div class="wrapper">
    <%- include _layouts/navbar %>
    <div class="container-fluid">
      <div class="row">
        <%- include _layouts/sidebar_start %>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                Current month
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                Last quarter
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                Social engagement
              </a>
            </li>
        <%- include _layouts/sidebar_end %>
        <%- include _layouts/content_start %>
        <%  if (type === "Activity") { %>
          <%- include _data-entry/activity_details %>
        <%  } else if (type === "Venue") { %>
          <%- include _data-entry/venue_details %>
        <%  } %>
        <%- include _layouts/content_end %>
      </div>
    </div>
    <%- include _layouts/foot %>
  </div>
</body>
</html>