<% if (results) { %>
    <h3><span id="whichResult">Venue</span> results for <span class="text-muted">"<%= query %>"</span></h3>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="searchSelect btn-group btn-group-toggle" data-toggle="buttons">
            <label id="searchVenues" class="btn btn-secondary active" value="Venue">
                <input type="radio" name="options" autocomplete="off" checked> Venues
            </label>
            <label id="searchActivities" class="btn btn-secondary" value="Activity">
                <input type="radio" name="options" autocomplete="off"> Activities
            </label>
        </div>
    </div>
</div>
<div class="container" id="searchResults">
    <%  var venueSize = results.venues.length; %>
    <%  var activitySize = results.activities.length; %>
    <table id="tblVenues" value="<%= venueSize %>" class="table table-hover">
        <thead class="thead-dark">
            <tr>
            <th scope="col">Venue ID</th>
            <th scope="col">Name</th>
            <th scope="col">Website</th>
            <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
        <%  if (venueSize > 0) { %>
            <%  results.venues.forEach(function(result) { 
                var website;
                if (typeof result.websiteurl != "undefined") {
                    website = result.websiteurl;
                    if (website.indexOf("://") < 0) {
                        website = 'http://' + website;
                    }
                } else {
                    website = '#'
                }
            %>
            <tr>
            <th scope="row"><%= result.venueid %></th>
            <td><a href="data-entry/venue/<%= result.venueid %>"><%= result.venuename %></a></td>
            <td><a href="<%= website %>" target="_blank">Link</a></td>
            <td><%= result.shortformdescription %></td>
            </tr>
            <%  }) %>
        <% } else { %>
            <tr>
                <td colspan="4">No venues found.</td>
            </tr>
        <% } %>
        </tbody>
    </table>
    <table id="tblActivities" value="<%= activitySize %>" class="table table-hover" style="display:none;">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Activity ID</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col"> </th>
        </tr>
        </thead>
        <tbody>
        <%  if (activitySize > 0) { %>
            <%  results.activities.forEach(function(result) { %>
            <tr>
                <th scope="row"><%= result.recreationid %></th>
                <td><a href="data-entry/activity/<%= result.recreationid %>"><%= result.recreationname %></a></td>
                <td><%= result.shortformdescription %></td>
                <td><a href="data-entry/activity/<%= result.recreationid %>"><button class="btn btn-sm btn-primary">Add</button></a></td>
            </tr>
            <%  }) %>
        <% } else { %>
            <tr>
                <td colspan="4">No activities found.</td>
            </tr>
        <% } %>
        </tbody>
    </table>
    <script src="/js/searchResults.js"></script>
    <% } else { %>
    <h3>No results for <span class="text-muted">"<%= query %>"</span></h3>
    <% } %>
</div>