    <h3>Venue | <span class="text-info"><%= info.venueName %></span> <span class="badge badge-secondary">ID: <%= info.venueID %></span> </span></h3>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#venueDetails" aria-expanded="false" aria-controls="collapseExample">Details</button>
</div>
<div class="container">
    <div class="collapse" id="venueDetails">
        <div class="card card-body">
            <dl class="row">
                <%  Object.keys(info).forEach(function(att) { %>
                    <dt class="col-3"><%= att %></dt><dd class="col-9"><%= info[att] %></dd>
                <%  }) %>
            </dl>
        </div>
        <hr />
    </div>
</div>
<div class="container">
    <% if (!!newActivityID) { %>
        <div class="row">
            <div class="col-12 alert alert-success">
                <strong>Success!</strong> Activity <%= newActivityID %> was created.
            </div>
        </div>
    <% } %>
    <h4>List of activities</h4>
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
            <th scope="col">Activity ID</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col"> </th>
            </tr>
        </thead>
        <tbody>
        <% if (!(Recreations === false)) { %>
            <% Recreations.forEach(function(rec) { %>
            <%  if ((!!newActivityID) && (newActivityID == rec.recreationID)) { %>
                <tr class="table-success">
            <%  } else { %>
                <tr>
            <%  } %>
                <th scope="row"><%= rec.recreationID %></th>
                <td><a href="/data-entry/activity/<%= rec.recreationID %>"><%= rec.recreationName %></a></td>
                <td><%= rec.shortformDescription %></td>
                <td><a href="/data-entry/activity/<%= rec.recreationID %>"><button class="btn btn-sm btn-primary">Save</button></a></td>
                </tr>
            <% }); %>
        <% } %>
        </tbody>
    </table>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#myModal" onclick="showCreateActivity(this)">Add New Activity</button>
            <script>
            function showCreateActivity(button) {
                var activityForm = document.getElementById('activityForm');
                activityForm.style.display = "block";
                button.style.display = "none";
                activityForm.scrollIntoView({
                    block: 'start'
                });
                var scrolledY = window.scrollY;
                if(scrolledY){
                    window.scroll(0, scrolledY - navHeight);
                }
            }
            </script>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <%- include activity_create %>
        </div>
    </div>
</div>