<!DOCTYPE html>
<html>
    <head>
        <title><%= info.venueName %> - Details</title>
        <% include ../_layouts/head %>
    </head>
    <body>
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="../../data-entry">Data Entry</a></li>
                    <li class="breadcrumb-item">Venues</li>
                    <li class="breadcrumb-item active" aria-current="page"><%= info.venueName %><span class="text-muted"> (ID: <%= info.venueID %>)</span></li>
                </ol>
            </nav>
            <h3><%= info.venueName %><span class="text-muted"> (ID: <%= info.venueID %>)</span></h3>
            <dl class="row">
            <%  Object.keys(info).forEach(function(att) { %>
                <dt class="col-3"><%= att %></dt><dd class="col-9"><%= info[att] %></dd>
            <%  }); %>
            </dl>
            <h4>Activities</h4>
            <table class="table table-hover">
            <thead>
                <tr>
                <th scope="col">Activity ID</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col"> </th>
                </tr>
            </thead>
            <tbody>
            <% if (!(Recreations === false)) { 
                Recreations.forEach(function(rec) { %>
                <tr>
                <th scope="row"><%= rec.recreationID %></th>
                <td><%= rec.recreationName %></td>
                <td><%= rec.shortformDescription %></td>
                <td><a href="../activities/<%= rec.recreationID %>"><button class="btn btn-sm btn-primary">View</button></a></td>
                </tr>
            <%  });
             } %>
                <tr>
                <td class="centered" colspan="4"><a href="./<%= info.venueID %>/new-activity"><button class="btn btn-sm btn-primary">New Activity</button></a></td>
                </tr>
            </tbody>
            </table>
        </div>
    </body>
</html>