<h3>Venue | <span class="text-info"><%= info.venueName %></span><span class="text-muted"> (ID: <%= info.venueID %>)</span></h3>
</div>
<dl class="row">
<%  Object.keys(info).forEach(function(att) { %>
    <dt class="col-3"><%= att %></dt><dd class="col-9"><%= info[att] %></dd>
<%  }) %>
</dl>
<h4>Activities</h4>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
        <th scope="col">Activity ID</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col"> </th>
        </tr>
    </thead>
    <tbody>
    <% if (!(Recreations === false)) { 
        Recreations.forEach(function(rec) { %>
        <tr>
        <th scope="row"><%= rec.recreationID %></th>
        <td><%= rec.recreationName %></td>
        <td><%= rec.shortformDescription %></td>
        <td><a href="/data-entry/activity/<%= rec.recreationID %>"><button class="btn btn-sm btn-primary">View</button></a></td>
        </tr>
    <%  });
        } %>
        <tr>
        <td class="centered" colspan="4"><a href="/data-entry/activity/<%= info.venueID %>/new-activity"><button class="btn btn-sm btn-primary">New Activity</button></a></td>
        </tr>
    </tbody>
</table>